<audio id='audioPlayer' autoplay crossorigin="anonymous"
  [attr.src]='audiourl'
  (loadedmetadata)='getDuration($event.target)'
  (timeupdate)='getCurrentTime($event.target)'
  (canplay)='setAudio($event.target)'>
</audio>

<div id='parent'>
  <canvas id="audio_visual" width="400px" height='400px' ></canvas>
</div>

<div >
  <mat-toolbar color='primary' class='bottomToolbar'>
    <mat-toolbar-row>    
      <span class='spanTitle'>{{title}}</span>
      <span class="example-spacer"></span>
      
      <button mat-raised-button color='accent' style='width:110px'>Effects</button>

    </mat-toolbar-row>
    <mat-toolbar-row>
      <div *ngIf="playing; then pause else play">
      </div>
      <button mat-icon-button (click)="updatePlayState('stopped')">
        <mat-icon>stop</mat-icon>
      </button>    
      <mat-slider min='0' [max]='duration' [value]='currentTime' (input)="onSeek($event.value)"></mat-slider>
      <div *ngIf='audiourl'>{{time}}/{{totalTime}}</div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<ng-template #play>
  <button mat-icon-button (click)="updatePlayState('playing')"><mat-icon >play_circle_filled</mat-icon></button>
</ng-template>
<ng-template #pause>
  <button mat-icon-button (click)="updatePlayState('paused')"><mat-icon >pause_circle_filled</mat-icon></button>
</ng-template>