<mat-toolbar color='primary'>Audio Player</mat-toolbar>

<mat-card>
  <app-file-upload  (sendDetails)='getDetails($event)' (currentTime)='setCurrentTime($event)'></app-file-upload>
</mat-card>

<div class='bottomToolbar'>
  <mat-toolbar color='primary'>
    <button mat-icon-button>
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>stop</mat-icon>
    </button>    
    <mat-slider min='0' [max]='duration' [value]='currentTime'></mat-slider>
    {{time}}/{{totalTime}}
  </mat-toolbar>
</div>
